.Container {
  display: flex;
  width: 900px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.Panel {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  align-self: stretch;

  border-radius: 30px;
  background: #FFF;
  box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.25);
}

.PageTitle {
  font-family: Noto Sans KR;
  font-size: 2em;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.2em
}

.Top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.GoBack {
  color: #2D5DEB;
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2em
}

.Title {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2em;
}

.Date {
  color: rgba(0, 0, 0, 0.50);
  text-align: right;
  font-family: Noto Sans KR;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1em;
}

.line {
  display: flex;
  align-self: stretch;
  height: 4px;
  background: #2D5DEB;
}

.Bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.Bottom img {
  display: flex;
  align-self: stretch;
  object-fit: contain;
}

.Contents {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}