.Container {
  display: flex;
  width: 900px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.Panel {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  align-self: stretch;

  border-radius: 30px;
  background: #FFF;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.10);
}

.PageTitle {
  font-family: Noto Sans KR;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.2em
}

.Top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.GoBack {
  color: #2D5DEB;
  font-family: Noto Sans KR;
  font-size: .9em;
  font-weight: 600;
}

.Title {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.Date {
  color: rgba(0, 0, 0, 0.50);
  font-family: Noto Sans KR;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.line {
  display: flex;
  align-self: stretch;
  height: 4px;
  background: #2D5DEB;
  border-radius: 2px;
}

.Bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.Bottom img {
  max-width: 100%;
  object-fit: contain;
}

.Contents {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 1em;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .Container {
    width: 92vw;
  }
}

@media screen and (max-width: 940px) {
  .Title {
    font-size: 1.2em;
    letter-spacing: 0;
    padding-left: 0;
  }

  .Panel {
    padding: 20px;  
    border-radius: 15px;
  }

  .PageTitle {
    font-size: 1.2em;
    letter-spacing: 0;
  }

  .GoBack {
    font-size: .7em;
  }

  .Top {
    gap: 5px;
  }

  .Date {
    font-size: .6em;
    letter-spacing: 0;
  }

  .line {
    height: 3px;
  }

  .Contents {
    font-size: .8em;
  }
}