.Panel{
  display: flex;
  width: 900px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.PageTitle {
  font-family: Noto Sans KR;
  font-size: 2em;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.2em
}

.Input {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  align-self: stretch;

  border-radius: 30px;
  background: #FFF;
  box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.25);
}

.HorizonBox{
  display: flex;
  align-items: center;
  align-self: stretch;
}

.Left {
  display: flex;
  width: 10em;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3em;
}

.Right {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
}

.Caution {
  margin: 0;
  padding: 0 0 0 2em;

  color: red;
  font-family: Noto Sans KR;
  font-size: 0.8em;
  font-weight: 400;
}

.InputWithCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1 0 0;
}

.Count {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.FixedCount {
  display: flex;
  width: 60px;
  justify-content: right;
  align-items: flex-end;
}

.InputBox {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border: 0;
  border-bottom: 1px solid #000;
  background: #FFF;

  color: rgba(0, 0, 0, 1);
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2em;
}

.LargeInputBox {
  display: flex;
  height: 15em;
  padding: 10px 15px;
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  resize: vertical;

  border-radius: 20px;
  border: 1px solid #000;
  background: #FFF;

  color: rgba(0, 0, 0, 1);
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2em;
}

.ImageRoom {
  display: flex;
  flex-direction: column;
}

.ImageRoom ul {
  margin: 0.5em 0;
  padding: 0 0 0 2em;

  font-family: Noto Sans KR;
  font-size: 0.8em;
  font-weight: 400;
}


.ImageBox {
  display: flex;
  width: 400px;
  height: 300px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  object-fit: contain;

  background: #D9D9D9;
}

.Buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.UploadButton {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* align-self: stretch; */

  border-radius: 20px;
  border: 2px solid #2D5DEB;

  color: #2D5DEB;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ConfirmButton {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-radius: 20px;
  border: 2px solid #2D5DEB;
  background-color: #2D5DEB;

  color: white;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.CancelButton {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-radius: 20px;
  background: #FF5454;

  color: #FFF;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Button:hover{
  animation: pop 0.3s linear 1;
}

.ButtonText{
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 4vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.TagInputBox{
  display: flex;
  width: 5em;
  padding: 10px 15px;
  align-items: center;

  border-radius: 0.3em;
  border: 1px solid #000;
  background: #FFF;

  color: rgba(0, 0, 0, 1);
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2em;
}

.TagZone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.TagZone h4 {
  display: flex;
  padding: 7px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 20px;
  background: #D9D9D9;

  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2em;
}

.DeleteTag {
  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  background-color: transparent;
  border: none;
  text-align: right;
  transition: .2s;
}

.DeleteTag:hover{
  color: red;
  font-size: 3vh;
}

@keyframes pop{
  50% {transform: scale(1.1);}
}

.MenuFont {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  color: #2D5DEB;
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2em;

  border-radius: 0.3em;
  border: 1px solid #000;
  background: #FFF;
  outline: none;
}