@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 1em;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h1 {
  margin: 0;
}

h4 {
  margin: 0;
}

ol, li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

footer {
  margin: 2em 0;
  width: 900px;

  color: gray;
  text-align: center;
  font-size: 0.7em;
}

@media screen and (max-width: 1024px) {
  footer {
    width: 92vw;
    font-size: 0.5em;
  }
}