.Content {
  display: flex;
  width: 900px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.MainButton {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  align-self: stretch;
  justify-content: stretch;
}

.Top {
  display: flex;
  justify-content: space-between;
}

.Title {
  font-family: Noto Sans KR;
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: .1em;
  padding-left: .1em;
}

.FindBlock {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.FxElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 5em;
  background-color: #2D5DEB;

  border-radius: .2em;

  color: #FFF;
  font-family: Noto Sans KR;
  font-weight: 500;
}

.FindElement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 10em;
  height: 12em;
  background-color: white;

  border-radius: 1em;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.10);

  color: black;
}

.FindMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 12em;
  border-radius: 0.2em;
  background-color: #2D5DEB;

  color: #FFF;
  font-family: Noto Sans KR;
  font-size: 1em;
  font-weight: 500;
}

.ClubMini {
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.FindElement h3 {
  width: 9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin: 0;

  font-family: Noto Sans KR;
  font-size: 0.95em;
  font-style: normal;
  font-weight: 700;
}

.FindElement span {
  width: 9.5em;
  height: 4.5em;

  overflow: hidden;
  text-overflow: ellipsis;

  font-family: Noto Sans KR;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 400;
}

.ClubTags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.Tag {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3px 10px;

  border-radius: 20px;
  background: #D9D9D9;

  color: #000;
  font-family: Noto Sans KR;
  font-size: 0.8em;
  font-weight: 600;
}

.More {
  display: none;
}

@media screen and (max-width: 1024px) {
  .Content {
    display: flex;
    width: 92vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}

@media screen and (max-width: 940px) {
  .Title {
    font-size: 1.2em;
    letter-spacing: 0;
    padding-left: 0;
  }

  .FxElement {
    width: 8em;
    height: 4em;
    font-size: .8em;
    box-shadow: 3px 3px 25px 3px rgba(0, 0, 0, 0);
  }

  .FindBlock {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 0.3em;
  }

  .FindElement {
    box-shadow: 3px 3px 25px 3px rgba(0, 0, 0, 0);
  }

  .FindMore {
    display: none;
  }

  .More {
    display: block;
    align-self: flex-end;
  
    color: #2D5DEB;
    font-family: Noto Sans KR;
    font-size: 0.8em;
    font-weight: 600;
  }
}