.Div_Fold{
  display: flex;
  padding: 16px 38px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  border-radius: 30px;
  background: #FFF;
  box-shadow: 5px 5px 25px 7px rgba(0, 0, 0, 0.25);

  transition: .3s;
}

.Top {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.Right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 28px;
  flex: 1 0 0;
  align-self: stretch;
}

.Hor_Div{
  display: flex;
}

.SeeButton{
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.30);
  float: right;
  rotate: -90deg;
}

.SeeButton:hover{
  transition: .2s;
}

.Title{
  color: #000;
  font-family: Noto Sans KR;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 16px;
  text-align: left;
}

.TagBox {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.Tag {
  display: flex;
  padding: 5px 20px;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  border-radius: 20px;
  background: #D9D9D9;

  color: #000;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-indent: 3px;
}

.SubTitle{
  color: #000;
  text-align: right;
  font-family: Noto Sans KR;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 10px;
}

.Right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 28px;
  flex: 1 0 0;
  align-self: stretch;
}


.Bottom {
  display: none;
  align-items: flex-start;
  gap: 100px;
}

.ClubImage{
  display: flex;
  padding: 150px 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: #D9D9D9;
}

.Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.InfoText{
  color: #000;
  font-family: Noto Sans KR;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 9.9px;
}

.ShortBlock {
  display: flex;
  align-items: center;
  gap: 25px;
}

.BlueButton {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 20px;
  background: #2D5DEB;

  color: #FFF;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 6px;
  text-indent: 6px;
}

.BlueButton:hover {
  animation: pop 0.3s linear 1;
}

@keyframes pop{
  50% {transform: scale(1.1);}
}

.DetailButton {
  padding: 5px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;

  border-radius: 20px;
  background: #2D5DEB;

  display: none;
  color: #FFF;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10px;
  text-indent: 10px;
}

.InfoText2 {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 8px;
}