.Hor_Div{
  display: flex;
}

.Div_Fold{
  flex-shrink: 0;
  background: #FFF;
  margin: auto;
  transition: .3s;
  overflow-y: hidden;
}

.SeeButton{
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.30);
  float: right;
  rotate: -90deg;
}

.SeeButton:hover{
  transition: .2s;
}

.Title{
  color: #000;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2vh;
  white-space: nowrap;
}

.SubTitle{
  color: #000;
  text-align:right;
  white-space: nowrap;
  overflow-x: auto;
  font-family: Noto Sans KR;
  font-size: 4vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1vh;
}

.Tag{
  flex-shrink: 0;
  border-radius: 4vh;
  background: #D9D9D9;
}

.ClubImage{
  flex-shrink: 0;
  display: none;
}

.InfoText{
  color: #000;
  font-family: Noto Sans KR;
  font-style:normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1vh;
  word-wrap:break-word;
  display: block;
}

.BlueButton{
  flex-shrink: 0;
  background: #2D5DEB;
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-weight: 500;
  line-height: normal;
  letter-spacing: .5vh;
  display: block;
}

.BlueButton:hover{
  animation: pop 0.3s linear 1;
}

@keyframes pop{
  50% {transform: scale(1.1);}
}