.Vertical_Div{
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.Horizontal_Div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.ListBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}

.SearchBar {
  display: flex;
  width: 640px;
  padding: 15px 60px;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  border: 1px solid #2D5DEB;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

  color: rgba(0, 0, 0, 0.51);
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 11px;
  text-align: left;
}

@keyframes pop{
  50% {transform: scale(1.1);}
}

.Selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  flex: 1 0 0;
}

.MenuFont {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #2D5DEB;
  font-family: Noto Sans KR;
  font-size: 25px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  letter-spacing: 2.5px;

  outline: none;
  border: none;
  background-color: transparent;
}

.ClubRow {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}