h4{
    color: #000;
    font-family: Noto Sans KR;
    font-size: 6vh;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 1vh;
}

.MainPanel{
    width: 150vh;
    height: 80vh;
    margin-left: 14%;
    margin-top: 3.8%;
    flex-shrink: 0;
    border-radius: 4vh;
    background: #FFF;
    box-shadow: 1vh 1vh 4vh 1vh rgba(0, 0, 0, 0.13);
    vertical-align: middle;
}

.HorDiv{
    display: grid;
}
  