.ArticleBox {
    display: flex;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-radius: 2em;
    background: #FFF;
    box-shadow: 5px 5px 25px 7px rgba(0, 0, 0, 0.13);
}

.ArticleTitle {
    color: #000;
    font-family: Noto Sans KR;
    font-size: 1.7em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 15px;
}

.Date {
    margin: 0;

    color: #818181;
    text-align: right;
    font-family: Noto Sans KR;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5px;
}