.ArticleBox {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;

    border-radius: 1em;
    background: #FFF;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.13);
}

.ArticleTitle {
    color: #000;
    font-family: Noto Sans KR;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2em;
}

.Date {
    margin: 0;

    color: #818181;
    text-align: right;
    font-family: Noto Sans KR;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2em;
}