.ArticleBox {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;

    border-radius: 1em;
    background: #FFF;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.10);
}

.ArticleTitle {
    color: #000;
    font-family: Noto Sans KR;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.Date {
    margin: 0;

    color: #818181;
    text-align: right;
    font-family: Noto Sans KR;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 940px) {
    .ArticleBox {
        padding: .8em 1.3em;
    }

    .ArticleTitle {
        font-size: .9em;
        letter-spacing: 0;
    }

    .Date {
        font-size: 0.6em;
    }
  }