.NoticeBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.Title {
  font-family: Noto Sans KR;
  font-size: 2em;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.2em;
}

.MoreButton {
  display: flex;
  padding: 0.3em 1em;
  align-items: flex-start;
  gap: 10px;

  border-radius: 0.9em;
  background: #FFF;
  box-shadow: 5px 5px 25px 7px rgba(0, 0, 0, 0.13);

  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
}

.Articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}