.Panel{
  margin-left: 1.5%;
  margin-top: 5%;
  min-width: 150vh; max-width: 150vh;
  min-height: 220vh; max-height: 220vh;
  flex-shrink: 0;
  border-radius: 4vh;
  background: #FFF;
  box-shadow: 1vh 1vh 3vh 1vh rgba(0, 0, 0, 0.13);
  flex-direction: column;
}

.Text{
  min-width: 45vh; max-width: 45vh;
  max-height: 10vh; max-height: 10vh;
  flex-shrink: 0;
  color: #000;
  margin-left: 5%;
  text-align:left;
  font-family: Noto Sans KR;
  font-size: 4vh;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  letter-spacing: 2vh;
}

.InputBox{
  width: 90vh;
  min-height: 10vh; 
  flex-shrink: 0;
  border-radius: 3vh;
  border: .5vh solid #000;
  background: #FFF;
  color: rgba(0, 0, 0, 1);
  font-family: Noto Sans KR;
  font-size: 4vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2vh;
  text-align: left;
  vertical-align: top;
}

.InputBox:hover{
  animation: pop 0.2s linear 1;
}

.ImageBox{
  min-width: 90vh; max-width: 90vh;
  min-height: 75vh; max-height: 75vh;
  flex-shrink: 0;
  border-radius: 7vh;
  background: #D9D9D9;
}

.HorizonBox{
  display: flex;
}

.Button{
  min-width: 20vh; max-width: 20vh;
  min-height: 8vh; max-height: 8vh;
  flex-shrink: 0;
  border-radius: 3vh;
}

.Button:hover{
  animation: pop 0.3s linear 1;
}

.ButtonText{
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 4vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.TagBox{
  flex-shrink: 0;
  border-radius: 2.5vh;
  background: #D9D9D9;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 4vh;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  letter-spacing: .2vh;
  transition: .3s;
  width: 25vh;
  height: 7vh;
  margin-right: 1%;
  transition: .2s;
}

.TagBox:hover{
  background-color: yellow;
}

.DeleteTag{
  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 4vh;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  letter-spacing: 1vh;
  background-color: transparent;
  border: none;
  text-align: right;
  margin-bottom: 3%;
  margin-left: 20%;
  transition: .2s;
}

.DeleteTag:hover{
  color: red;
  font-size: 3vh;
}

@keyframes pop{
  50% {transform: scale(1.1);}
}