<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <img src="https://www.dongarimart.com/Main_Logo.png" style="margin: 0px 100px 0px 100px;" width="15%" height="auto">
    <div style="font-family: 'Noto Sans KR', 'sans-serif' !important; color: #000; width: 540px; height: 600px; border-top: 4px solid #2D5DEB; border-radius: 0.2em; margin: 20px 100px 100px 100px; padding: 30px 0; box-sizing: border-box;">
        <h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
            <span style="color: #2D5DEB;">초기화된 비밀번호</span> 안내입니다.
        </h1>
        <span style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
            <%= name %>님 안녕하세요.<br />
            저희 동아리마트를 이용해주셔서 감사합니다.<br />
            아래의 비밀번호로 초기화되었습니다.<br />
            초기화된 비밀번호로 접속 후 비밀번호를 변경해주세요.<br />
            감사합니다.
        </span>
        <p style="color: #2D5DEB; font-size: 20px; padding: 10px 5px 10px 5px;">
            <%= password %>
        </p>
    
        <div style="border-top: 1px solid #DDD; padding: 5px;">
            <p style="font-size: 13px; line-height: 21px; color: #555;">
                초기화된 비밀번호로 로그인이 되지 않는다면, 저희에게 직접 연락해 주세요.<br />
                https://www.dongarimart.com/contact/
            </p>
        </div>
    </div>
</body>
</html>