.Panel{
  position: absolute;
  margin-top: 2%;
  margin-left:8%;
  min-width: 60vh;
  min-height: 40vh;
  flex-shrink: 0;
  border-radius: 4vh;
  background: #FFF;
  box-shadow: 1vh 1vh 4vh 1vh rgba(0, 0, 0, 0.13);
  display: flex;
}

.InputBox{
  min-width: 40vh;
  min-height: 7vh;
  flex-shrink: 0;
  border-radius: 3vh;
  border: 1px solid #000;
  background: #FFF;
  color: rgba(0, 0, 0, 0.30);
  font-family: Noto Sans KR;
  font-size: 3vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1vh;
  margin-left: 13%;
}

.ADpanel{
  width: 70vh;
  height: 70vh;
  flex-shrink: 0;
  border-radius: 7vh;
  background: #D9D9D9;
}

.LoginBtn{
  width: 16vh;
  height: 7vh;
  flex-shrink: 0;
  border-radius: 2vh;
  background: #2D5DEB;
  color: #FFF;
  font-family: Noto Sans KR;
  font-size: 3.5vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.LoginBtn:hover{
  animation: pop 0.3s linear 1;
}

@keyframes pop{
  50% {transform: scale(1.1);}
}