.Panel{
  display: flex;
  width: 450px;
  padding: 50px 50px;
  align-items: center;
  gap: 50px;

  border-radius: 30px;
  background: #FFF;
  box-shadow: 5px 5px 25px 7px rgba(0, 0, 0, 0.13);
}

.LoginContent {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 0 0;
}

.LoginInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  align-self: stretch;
}

.InputBox{
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  
  border-radius: 0.5em;
  border: 1px solid #000;
  background: #FFF;

  color: rgba(0, 0, 0, 1);
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1em;
}

.ErrorText {
  color: red;
  font-family: Noto Sans KR;
  font-size: 0.7em;
  font-weight: 500;
}

.Bottom {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.Bottom a{
  color: #2D5DEB;
  font-family: Inter;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.LoginBtn{
  display: flex;
  padding: 5px 20px;
  align-items: center;
  gap: 10px;

  border-width: 0;
  border-radius: 0.5em;
  background: #2D5DEB;

  color: #FFF;
  font-family: Noto Sans KR;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.LoginBtn:hover{
  animation: pop 0.3s linear 1;
}

/* .GithubLogin{
  display: flex;
  padding: 5px 20px;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: #000;

  color: #FFF;
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
} */

@keyframes pop{
  50% {transform: scale(1.1);}
}

.Logo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-self: center;
  width: 300px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.Logo img {
  width: 300px;
  height: 50px;
  object-fit: contain;
}

.MiddleLine {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;

  width: 1px;
  background: rgba(0, 0, 0, 0.50);
}