.Panel{
  position: absolute;
  margin-top: 10%;
  margin-left: 30%;
  width: 1000px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 5px 5px 25px 7px rgba(0, 0, 0, 0.13);
  display: flex;
}

.InputBox{
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #000;
  background: #FFF;
  color: rgba(0, 0, 0, 0.30);
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 10px;
  margin-left: 13%;
}

.ADpanel{
  width: 480px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 48px;
  background: #D9D9D9;
}

.LoginBtn{
  width: 120px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #2D5DEB;
  color: #FFF;
  font-family: Noto Sans KR;
  font-size: 27.1px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.LoginBtn:hover{
  animation: pop 0.3s linear 1;
}

@keyframes pop{
  50% {transform: scale(1.1);}
}